trunk/Alabama/Service References/CRM/publicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetActivateKeyByMachineCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="base64Sign" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="machineCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivateKeyByMachineCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActivateKeyByMachineCodeResult" type="tns:KeyPairInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="KeyPairInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RandCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SignActiveKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MachineCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AssignContractId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PackageId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SaleDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="KeyPairStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentVersion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsTrial" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfClient" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="base64Sign" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="packageId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPackageResult" type="tns:PackageInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PackageInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PackageName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PackageDuration" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PackagePrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PackageUpdate" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPackages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="base64Sign" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPackagesResult" type="tns:ArrayOfPackageInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPackageInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PackageInfo" nillable="true" type="tns:PackageInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetKeyPair">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="base64Sign" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="packageId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="machineCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKeyPairResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKeyPairResult" type="tns:KeyPairInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivateKeyByRegKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="base64Sign" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="keyPairId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="registKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivateKeyByRegKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActivateKeyByRegKeyResult" type="tns:KeyPairInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMachineCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="base64Sign" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serialID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="randCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="machineCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMachineCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetMachineCodeResult" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetActivateKeyByMachineCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetActivateKeyByMachineCode" />
  </wsdl:message>
  <wsdl:message name="GetActivateKeyByMachineCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetActivateKeyByMachineCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetPackageSoapIn">
    <wsdl:part name="parameters" element="tns:GetPackage" />
  </wsdl:message>
  <wsdl:message name="GetPackageSoapOut">
    <wsdl:part name="parameters" element="tns:GetPackageResponse" />
  </wsdl:message>
  <wsdl:message name="GetPackagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPackages" />
  </wsdl:message>
  <wsdl:message name="GetPackagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeyPairSoapIn">
    <wsdl:part name="parameters" element="tns:GetKeyPair" />
  </wsdl:message>
  <wsdl:message name="GetKeyPairSoapOut">
    <wsdl:part name="parameters" element="tns:GetKeyPairResponse" />
  </wsdl:message>
  <wsdl:message name="GetActivateKeyByRegKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetActivateKeyByRegKey" />
  </wsdl:message>
  <wsdl:message name="GetActivateKeyByRegKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetActivateKeyByRegKeyResponse" />
  </wsdl:message>
  <wsdl:message name="SetMachineCodeSoapIn">
    <wsdl:part name="parameters" element="tns:SetMachineCode" />
  </wsdl:message>
  <wsdl:message name="SetMachineCodeSoapOut">
    <wsdl:part name="parameters" element="tns:SetMachineCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="PublicServiceSoap">
    <wsdl:operation name="GetActivateKeyByMachineCode">
      <wsdl:input message="tns:GetActivateKeyByMachineCodeSoapIn" />
      <wsdl:output message="tns:GetActivateKeyByMachineCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPackage">
      <wsdl:input message="tns:GetPackageSoapIn" />
      <wsdl:output message="tns:GetPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPackages">
      <wsdl:input message="tns:GetPackagesSoapIn" />
      <wsdl:output message="tns:GetPackagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyPair">
      <wsdl:input message="tns:GetKeyPairSoapIn" />
      <wsdl:output message="tns:GetKeyPairSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActivateKeyByRegKey">
      <wsdl:input message="tns:GetActivateKeyByRegKeySoapIn" />
      <wsdl:output message="tns:GetActivateKeyByRegKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMachineCode">
      <wsdl:input message="tns:SetMachineCodeSoapIn" />
      <wsdl:output message="tns:SetMachineCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PublicServiceSoap" type="tns:PublicServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActivateKeyByMachineCode">
      <soap:operation soapAction="http://tempuri.org/GetActivateKeyByMachineCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackage">
      <soap:operation soapAction="http://tempuri.org/GetPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackages">
      <soap:operation soapAction="http://tempuri.org/GetPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyPair">
      <soap:operation soapAction="http://tempuri.org/GetKeyPair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivateKeyByRegKey">
      <soap:operation soapAction="http://tempuri.org/GetActivateKeyByRegKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMachineCode">
      <soap:operation soapAction="http://tempuri.org/SetMachineCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PublicServiceSoap12" type="tns:PublicServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActivateKeyByMachineCode">
      <soap12:operation soapAction="http://tempuri.org/GetActivateKeyByMachineCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackage">
      <soap12:operation soapAction="http://tempuri.org/GetPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackages">
      <soap12:operation soapAction="http://tempuri.org/GetPackages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyPair">
      <soap12:operation soapAction="http://tempuri.org/GetKeyPair" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivateKeyByRegKey">
      <soap12:operation soapAction="http://tempuri.org/GetActivateKeyByRegKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMachineCode">
      <soap12:operation soapAction="http://tempuri.org/SetMachineCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicService">
    <wsdl:port name="PublicServiceSoap" binding="tns:PublicServiceSoap">
      <soap:address location="http://crm.viegrid.com/DesktopModules/V_CRM/publicService.asmx" />
    </wsdl:port>
    <wsdl:port name="PublicServiceSoap12" binding="tns:PublicServiceSoap12">
      <soap12:address location="http://crm.viegrid.com/DesktopModules/V_CRM/publicService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>